* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}

.card {
    flex: 0 0 calc(33.333% - 20px);
    position: relative;
    border-radius: 12px;
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}


.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.card .card-content {
    padding: 12px;
}

section {
    padding: 40px 0;
}

h1 {
    margin-bottom: 20px;
}

body {
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    font-family: 'Montserrat', sans-serif;
}


.chat-button {
    position: fixed;
    bottom: 13px;
    right: 40px;
    width: 100px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.chat-button img {
    width: 100%;
    object-fit: contain;
}